<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    
    <bean name="address" class="com.springframework.Address" p:number="100" p:street="Wybrzeże Wyspiańskiego" p:city="Wrocław" />
    <bean name="employee1" class="com.springframework.Employee" c:id="1201" c:name="Witek" autowire="byType" />
    <bean name="employee2" class="com.springframework.Employee" c:id="1202" c:name="Magda" autowire="byName" />
    <bean name="employee3" class="com.springframework.Employee" c:id="1203" c:name="Michał" autowire="constructor" />
    <bean name="employee4" class="com.springframework.Employee" c:id="1204" c:name="Gabrysia" />
</beans>